<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url"> jdbc:mysql://localhost/sube</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="show_sql">true</property> <!-- en true muestra hql en consola -->
		<!-- Mapeo Entidades -->
		<mapping resource="mapeos/Persona.hbm.xml"/>
		<mapping resource="mapeos/Usuario.hbm.xml"/>
		<mapping resource="mapeos/Estacion.hbm.xml" />
		<mapping resource="mapeos/Seccion.hbm.xml" />
		<mapping resource="mapeos/TerminalSubte.hbm.xml" />
		<mapping resource="mapeos/TerminalTren.hbm.xml" />  
		<mapping resource="mapeos/TerminalColectivo.hbm.xml" />
		<mapping resource="mapeos/Sube.hbm.xml"/>
		<mapping resource="mapeos/Viaje.hbm.xml"/>
		<mapping resource="mapeos/Transporte.hbm.xml"/>
		<mapping resource="mapeos/DatosFuncionales.hbm.xml"/>
	</session-factory>
</hibernate-configuration>