<?xml version = "1.0" encoding = "UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SUBE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>cliente.html</welcome-file>
	</welcome-file-list>
		<servlet>
		<servlet-name>ControladorMostrarPersona</servlet-name>
		<servlet-class>controladores.ControladorMostrarPersona</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControladorMostrarPersonaJSP</servlet-name>
		<servlet-class>controladores.ControladorMostrarPersonaJSP</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControladorListaPersona</servlet-name>
		<servlet-class>controladores.ControladorListaPersona</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorListaPersona</servlet-name>
		<url-pattern>/ListarPersonas </url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControladorMostrarPersonaJSP</servlet-name>
		<url-pattern>/MostrarPersonaJSP </url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControladorMostrarPersona</servlet-name>
		<url-pattern>/MostrarPersona</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControladorAgregarPersonaJSP</servlet-name>
		<url-pattern>/AgregarPersonaJSP</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorAgregarPersonaJSP</servlet-name>
		<servlet-class>controladores.ControladorAgregarPersonaJSP</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ControladorSimularViaje</servlet-name>
		<servlet-class>controladores.ControladorSimularViaje</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorSimularViaje</servlet-name>
		<url-pattern>/agregarViaje</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorTerminalesSubte</servlet-name>
		<servlet-class>controladores.ControladorTerminalesSubte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorTerminalesSubte</servlet-name>
		<url-pattern>/terminalesSubte</url-pattern>		
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorTerminalesTren</servlet-name>
		<servlet-class>controladores.ControladorTerminalesTren</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorTerminalesTren</servlet-name>
		<url-pattern>/terminalesTren</url-pattern>		
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ControladorTerminalesColectivo</servlet-name>
		<servlet-class>controladores.ControladorTerminalesColectivo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorTerminalesColectivo</servlet-name>
		<url-pattern>/terminalesColectivo</url-pattern>		
	</servlet-mapping>	
	
</web-app>