<?xml version = "1.0" encoding = "UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SUBE</display-name>
	<welcome-file-list>
		<welcome-file>VistaIniciarSesion.jsp</welcome-file>
	</welcome-file-list>
		<servlet>
		<servlet-name>ControladorMostrarPersona</servlet-name>
		<servlet-class>controladores.ControladorMostrarPersona</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControladorMostrarPersonaJSP</servlet-name>
		<servlet-class>controladores.ControladorMostrarPersonaJSP</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControladorListaPersona</servlet-name>
		<servlet-class>controladores.ControladorListaPersona</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorListaPersona</servlet-name>
		<url-pattern>/ListarPersonas </url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControladorMostrarPersonaJSP</servlet-name>
		<url-pattern>/MostrarPersonaJSP </url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControladorMostrarPersona</servlet-name>
		<url-pattern>/MostrarPersona</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControladorAgregarPersonaJSP</servlet-name>
		<url-pattern>/AgregarPersonaJSP</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorAgregarPersonaJSP</servlet-name>
		<servlet-class>controladores.ControladorAgregarPersonaJSP</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ControladorSimularViaje</servlet-name>
		<servlet-class>controladores.ControladorSimularViaje</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorSimularViaje</servlet-name>
		<url-pattern>/agregarViaje</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControladorTerminalesSubte</servlet-name>
		<servlet-class>controladores.ControladorTerminalesSubte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorTerminalesSubte</servlet-name>
		<url-pattern>/terminalesSubte</url-pattern>		
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorTerminalesTren</servlet-name>
		<servlet-class>controladores.ControladorTerminalesTren</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorTerminalesTren</servlet-name>
		<url-pattern>/terminalesTren</url-pattern>		
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ControladorTerminalesColectivo</servlet-name>
		<servlet-class>controladores.ControladorTerminalesColectivo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorTerminalesColectivo</servlet-name>
		<url-pattern>/terminalesColectivo</url-pattern>		
	</servlet-mapping>	
  <servlet>
    <servlet-name>ControladorVistaViajes</servlet-name>
    <servlet-class>controladores.ControladorVistaViajes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorVistaViajes</servlet-name>
    <url-pattern>/MostrarViaje</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>ControladorAltaSube</servlet-name>
		<servlet-class>controladores.ControladorAltaSube</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorAltaSube</servlet-name>
		<url-pattern>/altaSube</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ControladorBajaSube</servlet-name>
		<servlet-class>controladores.ControladorBajaSube</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorBajaSube</servlet-name>
		<url-pattern>/bajaSube</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>ControladorVincularSube</servlet-name>
		<servlet-class>controladores.ControladorVincularSube</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorVincularSube</servlet-name>
		<url-pattern>/vincularSube</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorPaginaPrincipal</servlet-name>
		<servlet-class>controladores.ControladorPaginaPrincipal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorPaginaPrincipal</servlet-name>
		<url-pattern>/StartPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorIniciarSesion</servlet-name>
		<servlet-class>controladores.ControladorIniciarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorIniciarSesion</servlet-name>
		<url-pattern>/IniciarSesionJSP</url-pattern>
	</servlet-mapping> 	
		<servlet>
		<servlet-name>ControladorValidarLogin</servlet-name>
		<servlet-class>controladores.ControladorValidarLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorValidarLogin</servlet-name>
		<url-pattern>/ValidarLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControladorCargarSaldo</servlet-name>
		<servlet-class>controladores.ControladorCargarSaldo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorCargarSaldo</servlet-name>
		<url-pattern>/recargarSaldo</url-pattern>
	</servlet-mapping> 	
		<servlet>
		<servlet-name>ControladorConsultarSaldo</servlet-name>
		<servlet-class>controladores.ControladorConsultarSaldo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorConsultarSaldo</servlet-name>
		<url-pattern>/consultarSaldo</url-pattern>
	</servlet-mapping> 	
	 	
</web-app>	